### Testreport
The code has been tested by encrypting and decrypting a message in different ways in each cipher class. The case reading mechanism has been tested as well. The test was successful.
![Screenshot of automated test result](./images/test.jpg "Test result")
